{{.Name}} {{.Property.Type}}{{if .Property.Size}}({{.Property.Size}}{{if .Property.Precision}},{{.PropertyPrecision}}{{end}}{{end}}){{if .Property.PrimaryKey}} PRIMARY KEY{{end}}{{if .Property.Unique}} UNIQUE{{end}}{{if .Property.Nullable}} NULL{{end}}