{{.Name}} {{.Property.Type}}{{with .Property.Size}}({{.}}){{end}}{{if .Property.Unique}} UNIQUE{{end}}{{if .Property.AutoIncrement}} AUTO_INCREMENT PRIMARY KEY{{end}}{{if .Property.Unsigned}} UNSIGNED{{end}}{{if .Property.Nullable}} NULL{{end}}
